html,
body {
  height: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.04em;
  color: $main-color;
  background-color: $second-color;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1390px;
  margin: 0 auto;
  padding: 0 50px;
}

.title{
  font-family: 'cormorant-v11-latin_cyrillic-700', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.1;
  letter-spacing: 0.01em;
}

.visualli-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  margin: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

@media (max-width: 1440px) {
  .container{
    padding: 0 42px;
  }
}

@media (max-width: 1200px){

}

@media (max-width: 1000px){
  .container{
    padding: 0 39px;
  }
}

@media (max-width: 760px){

}

@media (max-width: 580px){
  .container{
    padding: 0 10px;
  }
}