.navigation {
  &__list {
    display: flex;
    gap: 50px;
    justify-content: space-between;
  }

  &__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: $second-color;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $free-color;
      transition-property: transform;
      transition-duration: 0.4s;
      transform: scaleX(0)
    }

    &:hover::before{
      transform: scaleX(1);
    }

    &:active{
      color: $free-color;
    }
  }
}

@media (max-width: 1440px) {
  .navigation__list{
    gap: 20px;
  }
  

  .navigation__link{
    font-size: 16px;
  }
}

@media (max-width: 1200px){

}

@media (max-width: 1000px){
  .navigation{
    display: none;
    width: 100%;
  }

  .navigation_active{
    display: block;
  }

  .navigation__item{
    flex-basis: 146px;
  }

  .navigation__link{
    display: block;
    width: 100%;
    border: 1px solid $triger-color;
    border-radius: 20px;
    text-align: center;
    padding: 7px 10px;
    font-size: 14px;
    &::before{
      content: none;
    }
  }
}

@media (max-width: 760px){
  .navigation__list{
    flex-wrap: wrap;
    gap: 8px 6px;
  }
  
  .navigation__item{
    flex-basis: calc(50% - 6px);
  }
}

@media (max-width: 580px){
  .navigation__link{
    font-size: 12px;
  }
}